<% layout("boilerplate/boilerplate") %>
<link rel="stylesheet" href="/css/home.css" />
<div class="container">
  <div class="heading">
    <h1>Welcome To Spark's Bank</h1>
    <p>Your Reliable Partner in Your Financial Progress!</p>
  </div>
</div>
